@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
* {
    /* border: 1px solid black; */
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: antiquewhite;
}
.m-login-page-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    margin-top: 50px;
    padding: 40px 25px;
    background-color: white;
    border-radius: 10px;
    font-family: Poppins-Bold, sans-serif;
}
.m-login-heading, .m-login-subheading {
	text-align: center;
    margin: 0;
    display: block;
}
.m-login-heading {
    font-size: 35px;
    font-weight: 700;
}
.m-login-subheading {
    font-size: 18px;
    font-weight: 500;
}
.m-login-form {
    padding: 20px;
}
.m-login-password-container, .m-login-username-container {
    position: relative;
}
.m-login-password-container {
    margin: 10px 0 30px 0;
}
.m-login-username, .m-login-password {
    margin: 0;
    font-size: 14px;
}
.m-login-username-input, .m-login-password-input {
    font-size: 16px;
    padding: 8px 0 8px 35px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}
.m-login-username-input:focus, .m-login-password-input:focus {
    border-color: black;
}
.m-login-username-input {
    margin-bottom: 10px;
}
.m-login-key-icon, .m-login-person-icon {
    position: absolute;
    top: 22px;
    left: 0;
    color: gray;
}
.m-login-username-input:focus + .m-login-person-icon, 
.m-login-password-input:focus + .m-login-key-icon {
    color: black;
}
.m-login-button {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-weight: 600;
    background-color: rgb(255, 194, 80);
}
.m-login-create-account-container {
    border-top: 1px solid gray;
    width: 90%;
    margin: 10px auto 0 auto;
}
.m-login-create-account-container * {
    color: gray;
    font-size: 12px;
    text-align: center;
}
.m-login-create-account-link {
    display: block;
}