@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap');
/* Variables */
:root {
    --ticket-background-color: rgba(249, 249, 249, 0.1);
    --ticket-shadow-color: rgba(128, 128, 128, 0.1);
    --ticket-heading-color: gray;
    --ticket-heading-font: 'Poppins', sans-serif;
    --ticket-details-font: 'Roboto Mono', monospace;
  }
/* Page Format */
body {
    margin: 0;
    box-sizing: border-box;
}
/* Titles */
.heading-container {
    width: fit-content;
    margin: 20px auto;
}
.title, .divider {
    display: inline;
    font-family: var(--ticket-heading-font);
    font-size: 32px;
}
.title {
    color: var(--ticket-heading-color);
    cursor: pointer;
}
.divider {
    margin: 0 10px;
}
.title:nth-child(2){
    margin: 0 20px;
}
.selected {
    color: rgb(0, 83, 0);
}
/* Tickets Container */
.tickets-container {
    margin: 0 auto;
    max-width: 800px;
}
/* Ticket Card */
.ticket-card {
    margin: 0 10px 10px 10px;
    background-color: var(--ticket-background-color);
    border-radius: 12px;
    box-shadow: 0px 4px 5px var(--ticket-shadow-color), 
        0px 3px 14px  var(--ticket-shadow-color), 
        0px 8px 10px  var(--ticket-shadow-color);
}
.small-heading {
    position: relative;
    width: 100%;
    height: 15px;
}
.small-heading * {
    position: absolute;
    top: 0%;
    margin: 0;
    padding: 6px 12px;
    font-family: var(--ticket-heading-font);
    font-size: 10px;
}
.username {
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
}
.ticket-type {
    text-transform: capitalize;
    color: orange;
    left: 0%;
}
.ticket-status {
    text-transform: capitalize;
    right: 0%;
}
.ticket-information-container {
    margin: 10px;
}
.ticket {
    display: grid;
    grid-template-columns: 18% 28% auto;
    grid-template-rows: auto;
}
.ticket {
    margin: 15px 20px 0 20px;
}
.ticket div:nth-child(2), .ticket div:nth-child(3) {
    margin: 0 auto;
}
.ticket-details {
    margin: 0 20px;
}
.ticket p, .ticket-details p {
    margin: 0;
}
.ticket-heading {
    font-family: var(--ticket-heading-font);
    font-size: 12px;
    color: var(--ticket-heading-color);
}
.ticket-details {
    font-family: var(--ticket-details-font);
    font-size: 14px;
}
.description-container {
    padding: 10px 5px 10px 5px;
}
.description-container p {
    margin: 0;
}
.description-container p:nth-child(1) {
    font-family: var(--ticket-heading-font);
    font-size: 12px;
    color: var(--ticket-heading-color);
}
.description-container p:nth-child(2) {
    font-family: var(--ticket-details-font);
    font-size: 10px;
}
.approved {
    color: rgb(0, 141, 0);
}
.pending {
    color: red;
}
/* Buttons */
.buttons-container {
    width: 100%;
}
.buttons-container * {
    margin: 0 10px 10px 10px;
    padding: 5px 10px;
    font-family: var(--ticket-heading-font);
    font-size: 12px;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
}
.deny {
    background-color: #f4511e;
}
.deny:hover {
    background-color: #f4501eab;
}
.approve {
    float: right;
    background-color: #46A049;
}
.approve:hover {
    background-color: #46a049c4;
}