.navbar {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.8);
}
.navDiv {
    margin: 0 .5em 0 .5em;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.navDiv:nth-child(1) {
    left: 0%;
    width: 30px;
    height: 30px;
}
.navbar .navDiv:nth-child(2) {
    right: 50px;
}
.navbar .navDiv:nth-child(3) {
    right: 0px;
}
.logout-icon {
    transform: translateY(3px);
    width: 30px;
}
.navA {
    color: white;
    text-decoration: none;
}
.navA:visited {
    color: white;
}